@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
:root {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #48555b;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.main-title {
  font-family: "Bebas Neue", cursive;
  font-size: 58px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5.70937px;
  margin-bottom: -5px;
  text-align: center;
}
.main-title__desc {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 215px;
  letter-spacing: 0.3px;
}

.text-h2 {
  font-size: 24px;
  letter-spacing: 0.1875px;
  text-transform: uppercase;
}

.text-h3 {
  font-size: 21px;
  text-transform: uppercase;
}

.text-h4 {
  font-size: 12px;
  letter-spacing: 1.09091px;
}

.text-h5 {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.9px;
}

.text-p {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
}

.header {
  min-height: 769px;
  background-image: url(../img/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.logo {
  margin: 41px auto 310px;
  width: 101.62px;
  height: 23px;
  cursor: pointer;
}

.scroll-title {
  font-size: 11px;
  letter-spacing: 3.7px;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar {
  border-bottom: 1px solid #e6e6e6;
}
.navbar__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 23px 0 24px;
}
.navbar__logo {
  width: 79.53px;
  height: 18px;
  cursor: pointer;
}
.navbar__flex {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
.navbar__menu-item {
  text-transform: uppercase;
}
.navbar__menu-item:hover {
  color: #00a4e5;
  cursor: pointer;
}

.about__title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 52px 0 9px;
}
.about__flex {
  display: flex;
  justify-content: space-between;
  gap: 76.92px;
}
.about__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  gap: 20px;
  margin-top: 30px;
}
.about__grid-item {
  width: 140px;
  height: 224px;
}
.about__grid-item:nth-child(1) {
  background-image: url(../img/picture-ourstory-1.jpeg);
}
.about__grid-item:nth-child(2) {
  background-image: url(../img/picture-ourstory-2.jpeg);
}
.about__grid-item:nth-child(3) {
  background-image: url(../img/picture-ourstory-3.jpeg);
}

.line {
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  margin: 0 auto 54px;
}

.our-story-title {
  margin-bottom: 30px;
}

.out-story-span {
  color: #00a4e5;
}

.title-card {
  font-weight: 800;
  color: #ffffff;
  line-height: 30px;
  padding: 15px;
}

@media screen and (max-width: 1030px) {
  .navbar {
    padding: 0 20px;
  }
  .navbar__grid {
    gap: 0;
  }
  .about__flex {
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0 20px;
  }
  .main-title {
    padding: 0 15px;
  }
  .scroll-title {
    margin-bottom: 30px;
  }
  .navbar__logo {
    margin: 0 auto;
  }
  .navbar__grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 20px;
  }
  .navbar__flex {
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  .about__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 380px) {
  .main-title {
    font-size: 50px;
  }
  .navbar__flex {
    display: block;
    text-align: center;
  }
  .navbar__menu-item {
    padding-bottom: 10px;
  }
  .navbar__menu-item:last-child {
    padding-bottom: 0;
  }
}